# 
#  .gitignore
#  SEDMachine
#  
#  Created by Alexander Rudy on 2011-10-04.
#  Copyright 2011 Alexander Rudy. All rights reserved.
# 

Logs/*
Caches/*
Images/*
Partials/*
Docs/_build/*
.fits
*.pyc
*.log
TODO/*
*.png
*.fits
*.TXT
*OLD.py
*config.yaml
experiment.py